.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 215px;
  grid-gap: 30px;
}

/* //////////////// Media Queries /////////////// */

@media screen and (max-width: 930px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 215px 215px;
  }
}

@media screen and (max-width: 600px) {
  .card-list {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 215px);
  }

  .card-name{
    font-size: 18px;
  }
}
